{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<div class="embedForm_wrapper">
  <div class="embedForm_body">
    <div class="embedForm">
      {{ ds_content }}
    </div>
  </div>
</div>
