{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}


<div class="program_meta">
  <span class="category">
    <span class="category_name">{{ ds_content.field_program_type|field_value }}</span>
  </span>
  {# <span class="meta">{{ ds_content.field_format|field_value }}{% for key, item in ds_content.field_enrollment|children %}<span class="divider"> | </span>{{ item }}
    {% endfor %}
    </span> #}

</div>
