{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<div class="designed_for">
  <div class="df_graphic">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 81.31"><path d="M64.5,48.81V3.41C28-.11.5,3.41.5,3.41v45.4c2.91,30.78,31.73,34.39,32,34.34,5.15-.92,29.32-5.78,32-34.34Zm-1.59-.25c-2.55,27.41-25.5,32.08-30.39,33-.26,0-27.63-3.42-30.39-33V5S28.27,1.6,62.9,5V48.56Z" transform="translate(-0.5 -1.85)"/></svg>
    <h4>Designed For</h4>
  </div>
  <div class="df_description">
    <p>{{ ds_content.field_designed_|field_value }}</p>
  </div>
</div>
