{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}

  <div class="related_program left">
    <h3>Related</h3>
    <div class="img">
      {{ ds_content.field_program_illustration|field_value }}
      <div class="program_meta">
        <span class="category">
          <span class="category_name">{% for key, item in ds_content.field_at_a_glance|children %}{{ item }}{% endfor %}</span>
        </span>
      </div>
    </div>
    <div class="content">
      <h4>{{ title|field_value }}</h4>
      <p>{{ ds_content.field_lede|field_value }}</p>
    </div>
  </div>
