{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}


<div class="card card_aos">
  <div class="card_aos_content">
    <h3>{{ title|field_value }}</a></h3>
    <a class="learnmore" title="Learn more about {{ title|field_value }}" href="{{ path('entity.node.canonical', {'node': content['#node'].id()  }) }}">Learn More</a>
  </div>
</div>
