{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}

<div class="contentFull_wrapper">
  <div class="contentFull_body">
    <div class="contentFull">
      {{ ds_content.field_full_width_content|field_value }}
    </div>
  </div>
</div>
