{#
/**
 * @file
 * Display Suite 2 column template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - left_wrapper: wrapper element around left region
 * - right_wrapper: wrapper element around right region
 * - attributes: layout attributes
 * - left_attributes: attributes for left region
 * - right_attributes: attributes for right region
 * - left: content of left region
 * - right: content of right region
 */
#}
<div class="uchicago_diff_panel">
  <div class="uchicago_diff_panel_content">
  {{ left.field_optional_title|field_value }}
    {{ left.field_short_description|field_value }}
    {{ left.field_link_to_more_info|field_value }}
  </div>
  <div class="uchicago_diff_panel_img">
    {{ right.field_slide_image|field_value }}
  </div>
</div>
