{#
/**
 * @file
 * Display Suite 2 column template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - left_wrapper: wrapper element around left region
 * - right_wrapper: wrapper element around right region
 * - attributes: layout attributes
 * - left_attributes: attributes for left region
 * - right_attributes: attributes for right region
 * - left: content of left region
 * - right: content of right region
 */
#}
<div class="contentLrgImg_wrapper">
  <div class="contentLrgImg_body">
    <div class="contentLrgImg">
      <div class="col1">
        {{ left.field_portrait_image|field_value }}
      </div>
      <div class="col2">
        {% if right.field_optional_title %}
          <h3>{{ right.field_optional_title|field_value }}</h3>
        {% endif %}
        {{ right.field_content_column_2|field_value }}
      </div>
    </div>
  </div>
</div>
