// CONTENT FULL
//Content 100% Width
.content100_wrapper {
  @include make-container;
  margin-bottom: $baseline * 1.5;
}
.content100_body {
  @include make-row;
}

.content100 {
  @include make-sm-column(12);
  float: inherit !important;

  //WYSIWYG IMAGES
  figure {
    margin-bottom: $baseline * 2;
    max-width: 100%;
    text-align: center;
    width: 100%;
    @include screen("tablet") {
      max-width: 50%;
    }

    figcaption {
      margin-top: $baseline;
      text-align: left;
    }
    img {
      width: 100%;
    }

    &.align-right {
      @include screen("tablet") {
        float: right;
        margin-left: $baseline;
        padding-left: $baseline;
      }
      @include screen("tablet-wide") {
        border-left: solid 1px $divider-gray;
        margin-left: $baseline * 2;
        padding-left: $baseline * 2;
      }
      @include screen("desktop") {
        margin-right: -$colwidth;
      }
      @include screen("desktop-wide") {
        margin-right: -$colwidth * 2;
      }
    }

    &.align-left {
      @include screen("tablet") {
        float: left;
        margin-right: $baseline;
        padding-right: $baseline;
      }

      @include screen("tablet-wide") {
        border-right: solid 1px $divider-gray;
        margin-right: $baseline * 2;
        padding-right: $baseline * 2;
      }
      @include screen("desktop") {
        margin-left: -$colwidth;
      }
      @include screen("desktop-wide") {
        margin-left: -$colwidth * 2;
      }
    }
  }
}

// Content 1/3 - 2/3

.content1323 {
  .hdr {
    @include make-sm-column(12);
  }
  .col1 {
    @include make-sm-column(12);
    @include screen("tablet-wide") {
      @include make-sm-column(4);
    }
  }
  .col2 {
    @include make-sm-column(12);
    margin-bottom: $baseline * 3;
    @include screen("tablet-wide") {
      padding-right: $colwidth;
      @include make-sm-column(8);
    }
  }
}

//Content 2/3 - 1/3
.content2313 {
  .hdr {
    @include make-sm-column(12);
  }
  .col1 {
    @include make-sm-column(12);
    margin-bottom: $baseline * 3;
    @include screen("tablet-wide") {
      padding-right: $colwidth;
      @include make-sm-column(8);
    }
  }
  .col2 {
    @include make-sm-column(12);
    @include screen("tablet-wide") {
      @include make-sm-column(4);
    }
  }
}

//Content Large Image
.contentLrgImg {
  background-color: $bg_02;
  margin: $baseline * 2 0;
  padding: $baseline * 2;

  @include screen("tablet-wide") {
    background-color: transparent;
    display: flex;
    align-items: center;
    margin: $baseline * 3 0;
  }
  @include screen("desktop") {
    margin: $baseline * 5 0;
  }

  .col1 {
    width: 60%;
    @include screen("tablet-small") {
      width: 40%;
      float: left;
      margin-right: $baseline * 2;
    }
    @include screen("tablet-wide") {
      margin-right: 0;
    }
    @include screen("desktop") {
      min-width: $baseline * 20;
      width: 50%;
    }

    img {
      width: 100%;
    }
  }
  .col2 {
    background-color: $bg-02;
    @include screen("tablet-small") {
      padding: $baseline * 2;
    }
    @include screen("tablet") {
      width: 100%;
    }
    @include screen("desktop-wide") {
      padding: $baseline * 5;
    }

    h3 {
      color: $black;
    }
  }
}
// PROFILE

.profileFaculty_wrapper {
  @include make-container;
}
.profileFaculty_body {
  @include make-row;
}
.profileFaculty {
  .profileFaculty_top {
    @include make-sm-column(12);
    @include screen("tablet") {
      display: flex;
      align-items: center;
    }
    margin-bottom: $baseline * 2;
    z-index: 5;

    .headshot {
      margin: 0 $baseline * 3 0 0;
      width: $baseline * 7;
    }
    .name {
      flex: 1;
      h3 {
        @include bodycopy_L($black, $bold: true);
        margin-bottom: 0;
      }
      .job_title {
        @include bodycopy_L($black);
      }
    }
  }
  .profileFaculty_bottom {
    z-index: 5;
    @include make-sm-column(12);

    a.email {
      @include bodycopy_M($plum, $bold: true);
      text-decoration: none;
      transition: all 0.25s ease-out;

      span {
        border-bottom: solid 2px $maroon;
      }

      &:after {
        @include iconfont($maroon, "\41");
        border-bottom: 0;
        font-size: 1.5rem;
        padding-left: 8px;
        vertical-align: middle;
        transition: all 0.25s ease-out;
      }

      &:hover {
        color: $maroon;
        transition: all 0.25s ease-in;
        &:after {
          padding-left: 12px;
          transition: all 0.25s ease-in;
        }
      }
    }
  }
}

// STATS
.stat_wrapper {
  @include make-container();
}
.stat_body {
  @include make-row();
}

.stat_number {
  text-align: center;
  .num {
    @include font(
      $sans-serif-font,
      $baseline * 4,
      $black,
      $sans-serif-semibold,
      $baseline * 4
    );
    vertical-align: bottom;
  }
  .pre,
  .post {
    @include font(
      $sans-serif-font,
      $baseline * 2,
      $black,
      $sans-serif-semibold,
      $baseline * 3
    );
  }

  .pre {
    vertical-align: top;
  }
  .post {
    vertical-align: text-bottom;
  }
}

.stat {
  @include make-sm-column(12);
  align-items: center;
  border-bottom: solid 1px $divider-gray;
  border-top: solid 1px $divider-gray;
  display: flex;
  padding-top: $baseline * 3;
  padding-bottom: $baseline * 3;

  .stat_number {
    @include make-md-column(3);
    span {
      color: $maroon;
    }
  }

  .stat_content {
    @include make-md-column(9);
    @include bodycopy_M($black, $bold: false);
    font-style: italic;

    p {
      margin-bottom: 0;
    }
  }
}

// THREE UP PROMO

.three-up-promo {
  .col {
    background-color: $bg-02;

    // @include screen("tablet") {
    //   .bottom {
    //     text-align: center;
    //   }
    // }

    .top {
      background: linear-gradient(180deg, $white 50%, $bg-02 50%);
      text-align: center;

      .stat_number {
        position: relative;
        &:after {
          @include dash($maroon, 8px, $baseline * 3, $position: true);
          bottom: -$baseline * 1.5;
        }
      }
    }

    .bottom {
      padding: $baseline * 3 $baseline * 2;
      text-align: center;

      h3 {
        @include heading_S($maroon);
        margin-top: 0;
      }
    }

    // background colors
    @include screen("tablet") {
      &:nth-child(even) {
        background-color: transparent;
        .top {
          background: transparent;
        }
      }
    }
  }
}

// CTA
.cta_wrapper {
  @include make-container;
  @include clearfix();
  background-color: $bg_02;
  margin: $baseline * 3 0;

  .cta_body {
    @include make-row;

    .cta {
      @include make-sm-column(12);
      align-items: center;
      display: flex;
      padding-top: calc(1.5rem + 15px);
      padding-bottom: calc(1.5rem + 15px);
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      .cta_content {
        @include make-sm-column(8);
        h3 {
          @include heading_S($black);
          margin: $baseline * 2 0 $baseline/2;
          @include screen("tablet") {
            margin: 0 0 $baseline;
          }
        }
      }
      figure.cta_photo {
        @include make-sm-column(4);
        text-align: center;
        margin-bottom: $baseline;

        @include screen("tablet") {
          margin-bottom: 0;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}

.cta100_wrapper {
  @include make-container;
  clear: both;
  background-color: $bg_02;
  margin-bottom: $baseline * 4;
  margin-top: $baseline * 4;
  padding-bottom: $baseline * 3;
  padding-top: $baseline * 3;
  position: relative;
  @include screen("desktop") {
    margin-bottom: $baseline * 6;
    margin-top: $baseline * 6;
  }

  // we may need to explore only showing this on larger displays
  &:before,
  &:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100vw;
    top: 0;
    z-index: 0;
  }
  &:before {
    background-color: $bg_02;
    left: 0;
  }
  &:after {
    background-color: $bg_02;
    right: 0;
  }

  .cta100_body {
    @include make-row;
    position: inherit;
    z-index: 5;
  }

  .cta100 {
    @include make-sm-column(12);
    @include screen("tablet") {
      display: flex;
      align-items: center;
    }

    .cta_content {
      @include make-sm-column(8);

      h3 {
        @include heading_S($black);
        margin-top: 0;
      }
    }

    figure.cta_photo {
      @include make-sm-column(4);

      .field--name-field-image-attribution-wysiwyg {
        position: absolute;
        @include bodycopy_S($black_03);

        &:before {
          @include iconfont($black_03, "\63");
          font-size: $baseline * 1.75;
          margin-right: $baseline * 0.25;
          text-decoration: none;
          vertical-align: text-bottom;
        }
      }
    }
  }
}
.cta_aos {
  @include make-container();
  @include make-row();
  background-color: $maroon;
  padding: $baseline * 2 0;
  overflow: hidden;

  @include screen("tablet") {
    background-color: transparent;
  }
  @include screen("tablet-wide") {
    padding: $baseline * 3 0 0;
    overflow: visible;
  }
  @include screen("desktop") {
    padding: $baseline * 4 0 0;
  }
  @include screen("desktop-wide") {
    padding: $baseline * 5 0 0;
  }

  .content {
    @include make-sm-column(12);
    @include make-lg-column(9);
    @include make-lg-column-push(2);
  }
  .cta_photo {
    figure {
      @include make-sm-column(6);
      @include make-lg-column(4);
      //margin-right: $baseline*4;

      .field--name-field-image-attribution {
        display: none;
      }
    }
    &:after {
      @include screen("tablet") {
        background-color: $bg-05;
        content: "";
        position: absolute;
        height: 100%;
        left: $baseline * 2;
        bottom: 0;
        width: 100vw;
        z-index: -5;
      }
    }
  }

  .cta_content {
    @include make-sm-column(6);
    @include make-lg-column(8);
    background-color: $maroon;
    padding: $baseline * 2 $baseline $baseline;
    margin-top: -$baseline;

    @include screen("tablet") {
      margin-top: -$baseline * 2;
      padding: $baseline * 3 $baseline * 2 $baseline * 2;
    }

    @include screen("tablet-wide") {
      margin-top: -$baseline * 3;
      padding: $baseline * 4 $baseline * 3 $baseline * 3;
    }

    @include screen("desktop") {
      margin-top: -$baseline * 4;
      padding: $baseline * 5 $baseline * 4 $baseline * 4;
    }

    @include screen("desktop-wide") {
      margin-top: -$baseline * 5;
      padding: $baseline * 6 $baseline * 4 $baseline * 4;
    }
    &:before {
      @include screen("tablet") {
        background-color: $maroon;
        content: "";
        height: 100%;
        position: absolute;
        right: 0;
        width: 100vw;
        top: 0;
        z-index: -1;
      }
    }

    h3,
    p {
      color: $white;
    }
    h3 {
      @include bodycopy_XL($white, $bold: true);
      margin-bottom: $baseline * 1.5;
    }
    a.learnmore,
    a.learnmore:after {
      color: $mustard;
    }
  }
}

// Bio's

.bio {
  .bio_headshot {
    float: left;
    @include make-sm-column(2);
  }
  .headshot {
  }
  .bio_content {
    @include make-sm-column(6);
    .bio_name {
      margin: $baseline/2 0 $baseline * 1.5;
      .name {
        @include bodycopy_L($black, $bold: true);
      }
      .title {
        @include bodycopy_L($black, $bold: false);
        display: block;
      }
    }
  }
}

// Student Profile

.story_profile {
  @include make-sm-column(12);
  @include screen("tablet-wide") {
    @include make-sm-column(7);
  }
  background-color: $bg_02;
  margin-bottom: 2rem;
  padding: $baseline * 3 !important;

  @include screen("tablet") {
    &.sp_right {
      float: right;
      margin-left: $baseline * 3;
      margin-right: -16.66667%;
    }

    &.sp_left {
      float: left;
      margin-left: -16.66667%;
      margin-right: $baseline * 3;
    }
  }

  h4 {
    @include heading_S($black);
    margin: 0 0 $baseline * 2;
  }
}

// RELATED PROGRAM - STORIES pages

.relatedProgram_wrapper {
  @include make-sm-column(12);
  @include screen("tablet") {
    @include make-sm-column(6);
  }
  @include screen("desktop") {
    @include make-sm-column(5);
    margin-left: -$colwidth;
  }
  @include screen("desktop-wide") {
    @include make-sm-column(6);
  }

  h3 {
    @include bodycopy_XL($maroon, $bold: true);
    margin-bottom: $baseline;
    margin-top: 0;
  }

  .relatedProgram {
    border-right: solid 1px $divider-gray;
    margin-right: $baseline !important;
    padding-right: $baseline * 2 !important;
    .relatedProgram_img {
    }
    .relatedProgram_content {
    }
  }
}

// RELATED PROGRAMS - AREA OF STUDY PAGE
.featured_programs {
  .fp_wrap {
    @include make-row();

    .related_program {
      width: 100%;
      margin-left: 0;
      margin-right: 0;

      .program_meta .category .category_name {
        left: -20px;
      }
    }
  }
}

// MIXED CONTENT GRID - BOTTOM OF PAGE
.mixed_content_grid {
  @include make-container();
  .hdr {
    @include make-sm-column(12);

    h2 {
      @include bodycopy_XL($maroon, $bold: true);
      border-bottom: solid 1px $divider-gray;
      margin: $baseline * 4 0 $baseline * 3;
      padding: 0 0 $baseline * 1.75;
    }
  }
  .content {
  }
  .program_card {
    @include make-sm-column(12);
    @include screen("desktop") {
      @include make-sm-column(5);
    }

    @include screen("desktop", $type: max) {
      margin-bottom: $baseline * 2;
      .pc_img,
      .pc_content {
        @include make-sm-column(6);
      }
      .pc_img .program_meta {
        top: auto;
        bottom: -16px;
      }
    }
  }

  .secondary_content {
    @include make-sm-column(12);
    @include screen("desktop") {
      @include make-lg-column(6);
      @include make-lg-column-push(1);
    }
    @include screen("desktop", $type: max) {
      margin-left: -15px !important;
      margin-right: -15px !important;
    }

    .secondary_editorial {
      @include clearfix();
      margin-bottom: $baseline * 2;
      width: 100%;

      .img {
        @include make-xs-column(4);
      }
      .content {
        @include make-xs-column(8);
      }

      h4 {
        @include heading_XS($plum);
        margin: $baseline 0;
      }
      h4 a {
        @include heading_XS($plum);
        text-decoration: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;

        &:hover {
          color: $maroon;
          border-bottom: solid 3px $maroon;
          transition: all 0.3s;
        }
      }
      .program_name {
        @include bodycopy_S($black, $bold: true);
      }
    }
  }
}

// CARD GRID
.card_grid {
  clear: both;
  @include make-container();

  h2 {
    @include bodycopy_XL($maroon, $bold: true);
    margin-bottom: 0;
  }
  .cg_wrapper {
    @include make-row();
    .cg_content {
      @include make-sm-column(12);
    }
  }

  // related stories
  .related-three-up {
    .view-content {
      @include screen("tablet") {
        display: flex;
        flex-wrap: wrap;
      }
      .views-row {
        margin: $baseline 0;
        @include screen("tablet") {
          flex: 1;
          margin: 0;
          &:nth-child(2) {
            margin: 0 $baseline;
          }
        }
      }
    }
  }

  // SLICK SLIDER
  .slick-track {
    @include screen("tablet") {
      display: flex;
      flex-wrap: wrap;
    }

    .slick-slide {
      width: auto;
      @include screen("tablet") {
        width: 50% !important;
      }
      @include screen("desktop") {
        width: 25% !important;
      }

      // the margins set below offset the flex grid's lack of spacing
      .program_card {
        .pc_img,
        .pc_content {
          margin-left: 3%;
          margin-right: 3%;
        }
      }
    }
  }

  // VIEWS
  .form-group {
    min-width: 100%;
  }

  // VIEW ALL LINK
  .view-header a {
    @include bodycopy_M($plum, $bold: true);
    text-decoration: none;

    &:after {
      @include iconfont(inherit, "\3e");
      color: $maroon;
      font-size: 1.25rem;
      vertical-align: -5px;
      position: relative;
      right: -5px;
      display: inline-block;
      transition: 0.3s;
    }
    &:hover {
      text-decoration: none;
      &:after {
        transform: translate(3px, 0);
      }
    }

    @include screen("tablet-wide") {
      position: absolute;
      top: -55px;
      right: 15px;
    }
  }
  .views-row {
    display: flex;
    flex-wrap: wrap;
    @include screen("tablet", $type: max) {
      flex-direction: column;
    }

    .views-col {
      margin: 0 $baseline $baseline * 3;
      flex: 1;
      display: flex;
      width: auto !important;

      @include screen("tablet", $type: max) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

// CARD SETS

// AREA OF STUDY - CARD
.card_aos {
  background-color: $bg-02;
  margin: 0 3% $baseline * 2;
  min-height: 275px;
  padding: $baseline * 2;
  position: relative;

  .card_aos_content {
    bottom: $baseline * 2;
    position: absolute;
    width: calc(100% - 4rem);
    z-index: 5;
  }
  &:before {
    background-color: $maroon;
    transition: all 0.2s ease-out;
  }
  &:hover {
    transition: all 0.2s ease-out;

    .card_aos_content h3,
    .card_aos_content a,
    .card_aos_content a:after {
      color: $white;
    }
    .card_aos_content a:hover,
    .card_aos_content a:hover:after {
      color: $mustard;
    }

    &:before {
      height: calc(100% + 4px);
      transition: all 0.2s ease-in;
    }
  }
}

// STORY CARDS
.card_story {
  float: left;
  padding-left: calc(2rem - 15px);
  padding-right: calc(2rem - 15px);
  width: 100%;

  .card_story_content {
    .top {
      margin-bottom: $baseline * 2;
      .meta {
        float: left;
      }
      .headshot {
        float: right;
      }
    }
    .bottom {
    }
  }
}

// RELATED COURSES BLOCK
.relatedCourse_wrapper {
  @include make-container;
}
.relatedCourse_body {
  @include make-row;
}
.relatedCourse {
  @include make-sm-column(12);
  padding-left: $colwidth/2;
  margin-bottom: $baseline * 2;
  @include screen("desktop") {
    margin-bottom: $baseline * 4;
  }

  .relatedCourse_hdr {
    position: relative;
    h4 {
      @include bodycopy_L($black, $bold: true);
      display: inline;

      &:before {
        @include iconfont($maroon, "\2022");
        position: absolute;
        left: -25px;
        top: 5px;
      }
    }
    .divider {
      vertical-align: text-bottom;
    }
    .course_code {
      @include utility_M($black);
    }
    margin-bottom: $baseline/2;
  }
  .relatedCourse_content {
    a {
      @include featurelink();
    }
  }
}
