//Buttons

.learnmore {
  @include bodycopy_M($plum, $bold: true);
  text-decoration: none;

  &:after {
    @include iconfont(inherit, "\3e");
    color: $maroon;
    font-size: 1.25rem;
    vertical-align: -5px;
    position: relative;
    right: -5px;
    display: inline-block;
    transition: 0.3s;
  }
  &:hover {
    text-decoration: none;
    &:after {
      transform: translate(3px, 0);
    }
  }
}

.btn-group {
  .btn {
    margin-right: 1em;
  }
}

.btn {
  background-color: $maroon;
  border: solid 2px $maroon;
  border-radius: 0;
  color: $white;
  @include font($sans-serif-font, 1rem, $white, $sans-serif-semibold, 1rem);
  padding: 0.75rem 1rem;
  text-decoration: none;
  transition-timing-function: linear;
  transition-duration: 0.3s;
  transition-property: color, transform, background-color;
  //transition-delay: 0s, 0s, 0.3s;

  &:hover {
    background-color: $white;
    color: $plum;
  }

  //this applies to all icons
  &:after,
  &:before {
    font-size: 1.25rem;
    vertical-align: -5px;
    position: relative;
    right: 0;
    display: inline-block;
    transition: 0.1s;
  }

  &.external:after,
  &.arrow-right:after,
  &.arrow-down:after {
    margin-left: 10px;
  }

  &.external {
    &:after {
      @include iconfont(inherit, "\77");
    }
    &:hover:after {
      transform: translate(2px, -2px);
    }
  }

  &.arrow-right {
    &:after {
      @include iconfont(inherit, "\3e");
    }
    &:hover:after {
      transform: translate(3px, 0);
    }
  }

  &.arrow-down {
    &:after {
      @include iconfont(inherit, "\67");
    }
    &:hover:after {
      transform: translate(0, 3px);
    }
  }

  &.arrow-left {
    &:before {
      font-size: 1.25rem;
      @include iconfont(inherit, "\3c");
      margin-right: 10px;
    }
    &:hover:before {
      transform: translate(-3px, 0);
    }
  }

  &.secondary {
    background-color: $gold;
    border-color: $gold;
    color: $plum;

    &:hover {
      border-color: $maroon;
      background-color: $white;
    }
  }

  &.tertiary {
    background-color: $white;
    border-color: $plum;
    color: $plum;

    &:after {
      color: $maroon;
    }

    &:hover {
      border-color: $black;
      background-color: lighten($black, 85%);
    }
  }

  &.quaternary {
    background-color: $white;
    border-color: $divider-gray;
    color: $plum;

    &:after {
      color: $maroon;
    }
    &:hover {
      border-color: $maroon;
    }
  }

  &.text {
    border: 0;
    background-color: transparent;
    color: $plum;
    position: relative;
    padding-left: 0;

    &:hover {
      color: $maroon;
    }
  }

  &.primary {
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px $maroon;
    color: $plum;
    padding: 0 0 2px;
    margin: 0.75rem 0;
    transition-duration: 0.2s;

    &:hover {
      border-color: $black;
      color: $black;
      transform: scale(1.05);
    }
  }
}

// LINK LIST

.link-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0 !important;
    a {
      border-bottom: solid 2px $maroon;
      display: inline-block;
      @include font($serif-font, 1rem, $black, $serif-regular, 1rem);
      padding-bottom: 2px;
      text-decoration: none;
      margin: $baseline/2 0;

      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;

      &:hover {
        border-color: $black;
      }
    }

    &:before {
      display: none;
    }
  }
}

// VIDEO EMBEDS

.video-embed-field-responsive-video {
  margin-bottom: $baseline * 5 !important;
  iframe {
  }
}

// PROGRAM META INFORMATION (SHEILD STYLES)
.program_meta {
  svg {
    fill: currentColor;
    color: $maroon;
  }

  .category {
    display: inline-block;

    .category_name {
      background-color: white;
      @include utility_XS($black);
      left: -24px;
      position: relative;
      padding: 2px;
      top: -13px;

      a {
        color: $black;
        text-decoration: none;
      }

      > div {
        display: inline-block;
      }
    }

    .meta {
      @include bodycopy_XS($black, $bold: false);
      display: block;
      @include screen("desktop") {
        display: inline;
        position: relative;
        top: -13px;
      }

      a {
        @include bodycopy_S($black, $bold: true);
        border-bottom: solid 2px $maroon;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: $maroon;
          transition: all 0.2s ease-in;
        }
      }
    }
  }
}

// STATS

.stat_number {
  text-align: center;
  span {
    vertical-align: top;
  }
  .num {
    @include font(
      $sans-serif-font,
      $baseline * 4,
      $black,
      $sans-serif-semibold,
      $baseline * 4
    );
  }
  .pre,
  .post {
    @include font(
      $sans-serif-font,
      $baseline * 2,
      $black,
      $sans-serif-semibold,
      $baseline * 3
    );
  }
}

.stat {
  align-items: center;
  border-bottom: solid 1px $divider-gray;
  border-top: solid 1px $divider-gray;
  display: flex;
  padding: $baseline * 3 0;
  @include clearfix();

  .stat_number {
    @include make-md-column(3);
    span {
      color: $maroon;
    }
  }

  .stat_content {
    @include make-md-column(9);
    @include bodycopy_M($black, $bold: false);
    font-style: italic;

    p {
      margin-bottom: 0;
    }
  }
}

// THREE UP PROMO

.three-up-promo {
  display: block;

  @include screen("tablet") {
    display: flex;
  }

  .col {
    margin-bottom: $baseline * 3;

    @include screen("tablet") {
      flex: 1;
      .bottom {
        text-align: center;
      }
    }

    .top {
      text-align: center;

      .stat_number {
        position: relative;
        &:after {
          @include dash($maroon, 8px, $baseline * 3, $position: true);
          bottom: -$baseline * 1.5;
        }
      }
    }

    .bottom {
      padding: $baseline * 3 $baseline * 2;

      h3 {
        @include heading_S($maroon);
        margin-top: 0;
      }
    }

    // background colors
    &:nth-child(odd) {
      background-color: $bg-02;

      .top {
        background: linear-gradient(180deg, $white 50%, $bg-02 50%);
      }
    }
  }
}

// CTA

.cta {
  @include clearfix();
  margin: $baseline * 3 0;

  @include screen("tablet") {
    display: flex;
    align-items: center;
  }

  .wrapper {
    background-color: $bg_03;
    @include make-sm-column(12);
    padding: $baseline * 1.5;
  }

  .cta_content {
    @include make-sm-column(8);
    h3 {
      @include heading_S($black);
      margin: $baseline * 2 0 $baseline/2;
      @include screen("tablet") {
        margin: 0 0 $baseline;
      }
    }
  }
  figure.cta_photo {
    @include make-sm-column(4);
    text-align: center;
    margin-bottom: $baseline;

    @include screen("tablet") {
      margin-bottom: 0;
    }
  }
}

.cta_full {
  @include make-sm-column(12);
  background-color: $bg_03;
  padding: $baseline * 3 0;
  margin: $baseline * 5 0;

  &:before,
  &:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
  }
  &:before {
    background-color: $bg_03;
    left: -100%;
  }
  &:after {
    background-color: $bg_03;
    right: -100%;
  }

  .row {
    @include screen("tablet") {
      display: flex;
      align-items: center;
    }
  }

  .wrapper {
    @include make-container();

    .cta_content {
      @include make-sm-column(5);
      @include make-sm-column-pull(1);

      h3 {
        @include heading_S($black);
      }
    }

    figure.cta_photo {
      @include make-sm-column(3);
      @include make-sm-column-push(7);
    }
  }
}
.cta_aos {
  @include make-container();
  @include make-row();
  background-color: $maroon;
  padding: $baseline * 2 0;
  overflow: hidden;

  @include screen("tablet") {
    background-color: transparent;
  }
  @include screen("tablet-wide") {
    padding: $baseline * 3 0 0;
    overflow: visible;
  }
  @include screen("desktop") {
    padding: $baseline * 4 0 0;
  }
  @include screen("desktop-wide") {
    padding: $baseline * 5 0 0;
  }

  .content {
    @include make-sm-column(12);
    @include make-lg-column(9);
    @include make-lg-column-push(2);
  }
  .cta_photo {
    figure {
      @include make-sm-column(6);
      @include make-lg-column(4);
      //margin-right: $baseline*4;

      .field--name-field-image-attribution {
        display: none;
      }
    }
    &:after {
      @include screen("tablet") {
        background-color: $bg-05;
        content: "";
        position: absolute;
        height: 100%;
        left: $baseline * 2;
        bottom: 0;
        width: 100vw;
        z-index: -5;
      }
    }
  }

  .cta_content {
    @include make-sm-column(6);
    @include make-lg-column(8);
    background-color: $maroon;
    padding: $baseline * 2 $baseline $baseline;
    margin-top: -$baseline;

    @include screen("tablet") {
      margin-top: -$baseline * 2;
      padding: $baseline * 3 $baseline * 2 $baseline * 2;
    }

    @include screen("tablet-wide") {
      margin-top: -$baseline * 3;
      padding: $baseline * 4 $baseline * 3 $baseline * 3;
    }

    @include screen("desktop") {
      margin-top: -$baseline * 4;
      padding: $baseline * 5 $baseline * 4 $baseline * 4;
    }

    @include screen("desktop-wide") {
      margin-top: -$baseline * 5;
      padding: $baseline * 6 $baseline * 4 $baseline * 4;
    }
    &:before {
      @include screen("tablet") {
        background-color: $maroon;
        content: "";
        height: 100%;
        position: absolute;
        right: 0;
        width: 100vw;
        top: 0;
        z-index: -1;
      }
    }

    h3,
    p {
      color: $white;
    }
    h3 {
      @include bodycopy_XL($white, $bold: true);
      margin-bottom: $baseline * 1.5;
    }
    a.learnmore,
    a.learnmore:after {
      color: $mustard;
    }
  }
}

// Bio's

.bio {
  .bio_headshot {
    float: left;
    @include make-sm-column(2);
  }
  .headshot {
  }
  .bio_content {
    @include make-sm-column(6);
    .bio_name {
      margin: $baseline/2 0 $baseline * 1.5;
      .name {
        @include bodycopy_L($black, $bold: true);
      }
      .title {
        @include bodycopy_L($black, $bold: false);
        display: block;
      }
    }
  }
}

//DEF LISTS FOR STORY PROFILE, PROGRAM PREVIEW
.program_preview,
.story_profile {
  dl {
    margin-bottom: 0;

    @include screen("desktop") {
      dt,
      dd {
        float: left;
      }
    }

    dt {
      @include bodycopy_M($black, $bold: true);
      clear: left;
      font-weight: bold;

      @include screen("desktop") {
        margin-bottom: $baseline;
        margin-right: 5%;
        width: 25%;
        clear: left;
      }
    }
    dd {
      @include bodycopy_M($black, $bold: false);
      margin-bottom: $baseline;
      @include screen("desktop") {
        width: 70%;
      }
      p {
        margin-bottom: 0 !important;
      }
    }
  }
}

// Student Profile

.story_profile {
  @include make-sm-column(12);
  @include screen("tablet-wide") {
    @include make-sm-column(7);
  }
  background-color: $bg_02;
  margin-bottom: 2rem;
  padding: $baseline * 2;

  @include screen("tablet") {
    &.sp_right {
      float: right;
      margin-left: $baseline * 3;
      margin-right: -16.66667%;
    }

    &.sp_left {
      float: left;
      margin-left: -16.66667%;
      margin-right: $baseline * 3;
    }
  }

  h4 {
    @include heading_S($black);
    margin: 0 0 $baseline * 2;
  }
}

// Related Content Block

.related_program {
  @include make-row();
  @include make-sm-column(6);
  @include screen("tablet-wide") {
    @include make-md-column(5);
  }
  margin-bottom: $baseline * 2;

  &.right {
    float: right;
    @include screen("tablet") {
      border-left: solid 1px $divider-gray;
      margin-left: $baseline * 1.5;
      padding-left: $baseline * 1.5;
    }
    @include screen("tablet-wide") {
      margin-left: $baseline * 3;
      padding-left: $baseline * 3;
    }
    @include screen("desktop") {
      margin-right: -8.3%;
    }
    @include screen("desktop-wide") {
      margin-right: -16.6666667%;
    }
  }

  &.left {
    float: left;

    @include screen("tablet") {
      border-right: solid 1px $divider-gray;
      margin-right: $baseline * 1.5;
      padding-right: $baseline * 1.5;
    }

    @include screen("tablet-wide") {
      margin-right: $baseline * 3;
      padding-right: $baseline * 3;
    }
    @include screen("desktop") {
      margin-left: -8.3%;
    }
    @include screen("desktop-wide") {
      margin-left: -16.6666667%;
    }
  }
  .img {
    background-color: $bg-02;
    margin-bottom: $baseline * 2;
    padding: $baseline;
    position: relative;
    text-align: center;

    .program_meta {
      background-color: $white;
      bottom: 0;
      left: 0;
      padding: $baseline/2 $baseline/2 0;
      position: absolute;
    }
  }
  .content {
    h4 {
      @include heading_XS($black);
      margin-bottom: $baseline;
    }
  }
}

.related_content_grid {
  @include make-sm-column(12);

  h2 {
    @include bodycopy_XL($maroon, $bold: true);
    border-bottom: solid 1px $divider-gray;
    margin: $baseline * 4 0 $baseline * 3;
    padding: 0 0 $baseline * 1.75;
  }

  .related_program {
    @include make-sm-column(12);
    @include make-lg-column(5);

    .img {
      @include make-sm-column(6);
      @include make-lg-column(12);
      margin-bottom: 0;

      .program_meta {
        background-color: $white;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: $baseline $baseline/2 0;
      }
    }
    .content {
      @include make-row();
      @include make-sm-column(6);
      @include make-lg-column(12);

      h4,
      h4 a {
        @include heading_S($plum);
        margin: $baseline * 2 0;
      }
      h4 a {
        text-decoration: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;

        &:hover {
          color: $maroon;
          border-bottom: solid 3px $maroon;
          transition: all 0.3s;
        }
      }
    }
  }

  .secondary_content {
    @include make-sm-column(12);
    @include make-lg-column(5);
    @include make-lg-column-push(1);
    @include screen("tablet", $type: max) {
      margin-left: -15px !important;
      margin-right: -15px !important;
    }

    .secondary_editorial {
      @include clearfix();
      margin-bottom: $baseline * 2;
      width: 100%;

      @include screen("tablet", $type: max) {
        .img,
        .content {
          padding: 0 !important;
          margin: $baseline 0 !important;
        }
      }

      .img {
        @include make-sm-column(4);
      }
      .content {
        @include make-sm-column(8);
      }

      h4,
      h4 a {
        @include heading_XS($plum);
        margin: $baseline 0;
      }
      h4 a {
        text-decoration: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;

        &:hover {
          color: $maroon;
          border-bottom: solid 3px $maroon;
          transition: all 0.3s;
        }
      }
      .program_name {
        @include bodycopy_S($black, $bold: true);
      }
    }
  }
}

.related_content_list_wrapper {
  @include make-container();
  .related_content_list {
    @include make-sm-column(12);
  }
  h2 {
    @include bodycopy_XL($maroon, $bold: true);
  }
}

// DESIGNED FOR

.designed_for {
  border-top: solid 1px $divider-gray;
  border-bottom: solid 1px $divider-gray;
  margin: $baseline * 2 0 $baseline * 3;

  @include screen("tablet-wide") {
    display: flex;
    align-items: center;
    margin: $baseline * 3 0 $baseline * 5;
  }

  .df_graphic {
    position: relative;
    svg {
      color: $maroon;
      display: block;
      fill: currentColor;
      margin: 0 auto;
      padding: $baseline * 2.5;
      width: 150px;

      @include screen("tablet-wide") {
      }
    }

    h4 {
      @include utility_XS($black);
      letter-spacing: 1px;
      position: absolute;
      top: calc(50% - 18px);
      text-align: center;
      width: 100%;
      background-color: white;
      margin: 0;
      padding: 5px 0;

      @include screen("tablet-wide") {
      }
    }
  }
  .df_description {
    padding: 0 $baseline * 2 $baseline * 2;

    @include screen("tablet-wide") {
      padding: $baseline * 2;
      flex: 1 0 0%;
      border-left: solid 1px $divider-gray;
    }

    p {
      font-family: $serif-font;
      font-weight: $serif-regular;
      font-size: 1.1rem;
      font-style: italic;
      margin: 0;
      text-align: center;

      @include screen("tablet-wide") {
        text-align: left;
      }
    }
  }
}

// NEXT STEPS BUTTON SET

.next_steps {
  border-top: solid 1px $divider-gray;
  border-bottom: solid 1px $divider-gray;
  margin: $baseline * 2 0 $baseline * 3;
  padding: $baseline * 3 0;

  h4 {
    @include heading_XS($black);
  }
}

// ABOUT STUDENT / PROFESSOR  From STORY PAGES

.about {
  @include make-sm-column(12);
  margin: $baseline * 4 0;
  @include screen("tablet-wide") {
    float: right;
    margin-right: -50%;
    width: 50%;
  }
  background-color: $bg-02;
  padding: $baseline * 3 !important;
}
