// COLLAPSE content
.collapse:not(.in) {
  height: 72px !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.collapsing {
  min-height: 72px !important;
}

a.showmore {
  @include bodycopy_M($plum, $bold: true);
  text-decoration: none;
  transition: all 0.2s ease-in;
  &:hover {
    color: $maroon;
    transition: all 0.2s ease-out;
  }
  &:after {
    @include iconfont($maroon, "\67");
    font-size: 1.4rem;
    vertical-align: sub;
    padding-left: $baseline/3;
  }
  &.collapsed:before {
    content: "View More";
  }
  &:not(.collapsed):before {
    content: "View Less";
  }
  &:not(.collapsed):after {
    @include iconfont($maroon, "\69");
    font-size: 1rem;
    vertical-align: middle;
  }
}

//THREE UP CONTENT
.three-up-wrapper {
  @include make-container();
}
.three-up-body {
  @include make-row();
}
.three-up {
  @include make-sm-column(12);
  display: block;
  @include screen("tablet") {
    display: flex;
  }

  .col {
    margin-bottom: $baseline * 3;
    @include screen("tablet") {
      flex: 1;
    }
  }
}

// VIDEO EMBEDS

.video-embed-field-responsive-video {
  margin-bottom: $baseline * 5 !important;
  iframe {
  }
}

// TINY HEADER (Find your Fit, Program Comparison)

.tinyHdr {
  margin-bottom: $baseline * 2;
  span,
  h1 {
    display: inline;
    @include bodycopy_S($black_02);
  }
  span {
    @include bodycopy_S($black_02);
    &:after {
      display: inline;
      content: "/";
      @include bodycopy_M($maroon);
      margin: 0 $baseline;
    }
  }
  h1 {
    color: $plum;
  }
}

// PROGRAM META INFORMATION (SHEILD STYLES)
.program_meta {
  background-image: url("#{$image-path}/uc_shield_outline_maroon.svg");
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: left bottom;
  //float: left;
  padding: 15px 20px 6px 10px;

  .category_name {
    background-color: white;
    margin-right: $baseline * 1.5;
    @include utility_XS($black);

    a {
      color: $black;
      text-decoration: none;
    }
  }

  .meta {
    @include bodycopy_XS($black, $bold: false);
    display: inline;
    position: relative;
    top: 0;

    a {
      @include bodycopy_S($black, $bold: true);
      border-bottom: solid 2px $maroon;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: $maroon;
        transition: all 0.2s ease-in;
      }
    }
  }
}

//DEF LISTS FOR STORY PROFILE, PROGRAM PREVIEW
.program_preview,
.story_profile {
  dl {
    margin-bottom: 0;

    @include screen("desktop") {
      dt,
      dd {
        float: left;
      }
    }

    dt {
      @include bodycopy_M($black, $bold: true);
      clear: left;
      font-weight: bold;

      @include screen("desktop") {
        margin-bottom: $baseline;
        margin-right: 5%;
        width: 25%;
        clear: left;
      }
    }
    dd {
      @include bodycopy_M($black, $bold: false);
      margin-bottom: $baseline;
      @include screen("desktop") {
        width: 70%;
      }

      .classof p {
        @include bodycopy_S($black_02);
        margin-bottom: $baseline !important;

        &:before {
          @include iconfont(inherit, "\65");
          color: $black_02;
          font-size: 1.25rem;
          vertical-align: middle;
          position: relative;
          left: 0;
          display: inline-block;
          margin-right: 3px;
        }
      }

      p {
        margin-bottom: 0 !important;
      }
    }
  }
}

// DESIGNED FOR

.designed_for {
  border-top: solid 1px $divider-gray;
  border-bottom: solid 1px $divider-gray;
  margin: $baseline * 2 0 $baseline * 3;

  @include screen("tablet-wide") {
    display: flex;
    align-items: center;
    margin: $baseline * 3 0 $baseline * 5;
  }

  .df_graphic {
    position: relative;
    svg {
      color: $maroon;
      display: block;
      fill: currentColor;
      margin: 0 auto;
      padding: $baseline * 2.5;
      width: 150px;

      @include screen("tablet-wide") {
      }
    }

    h4 {
      @include utility_XS($black);
      letter-spacing: 1px;
      position: absolute;
      top: calc(50% - 18px);
      text-align: center;
      width: 100%;
      background-color: white;
      margin: 0;
      padding: 5px 0;

      @include screen("tablet-wide") {
      }
    }
  }
  .df_description {
    padding: 0 $baseline * 2 $baseline * 2;

    @include screen("tablet-wide") {
      padding: $baseline * 2;
      flex: 1 0 0%;
      border-left: solid 1px $divider-gray;
    }

    p {
      font-family: $serif-font;
      font-weight: $serif-regular;
      font-size: 1.1rem;
      font-style: italic;
      margin: 0;
      text-align: center;

      @include screen("tablet-wide") {
        text-align: left;
      }
    }
  }
}

// NEXT STEPS BUTTON SET

.next_steps {
  border-top: solid 1px $divider-gray;
  border-bottom: solid 1px $divider-gray;
  margin: $baseline * 2 0 $baseline * 3;
  padding: $baseline * 3 0;

  h4 {
    @include heading_XS($black);
  }
}

// CARDS
.card {
  border: solid 2px $divider-gray;
  padding: $baseline * 2;
  position: relative;

  &:before {
    content: "";
    display: block;
    left: -2px;
    height: 5px;
    position: absolute;
    top: -2px;
    width: calc(100% + 4px);
  }

  .top,
  .bottom {
    @include make-sm-column(12);
    clear: both;
  }

  h3 {
    @include heading_XS($plum);
    margin: $baseline 0 $baseline/2;
  }
  h3 a {
    @include heading_XS($plum);
    margin-bottom: 0;
    padding: 5px 0;
    text-decoration: none;
    transition: background-size 0.25s ease;
    background: linear-gradient(to bottom, transparent 90%, #800000 0) center
      center/0% 75% no-repeat;

    &:hover {
      color: $maroon;
      background-size: 100% 100%;
    }
    &:active {
      background-size: 80% 100%;
    }
  }

  .meta {
    @include utility_M($black_02);
  }
  .date {
    @include bodycopy_S($black_02);
  }

  &.card_story:before {
    background-color: $salmon;
  }
  &.card_event:before {
    background-color: $emerald;
  }
  &.card_article:before {
    background-color: $cerulean;
  }
  &.card_casestudy:before {
    background-color: $magenta;
  }
}

// PROGRAM CARDS
.program_card {
  .pc_img {
    background-color: $bg-02;
    margin-bottom: $baseline * 2;
    padding: $baseline;
    position: relative;
    text-align: center;

    .program_meta {
      background-color: $white;
      background-position: 10px bottom;
      float: left;
      padding: 14px 20px 6px 20px;
      position: relative;
      left: -16px;
      top: -12px;
    }
  }
  .pc_content {
    h3 {
      @include heading_XS($plum);
      padding-left: 10px;
    }
    h3 a {
      @include heading_XS($plum);
      margin-bottom: 0;
      text-decoration: none;
      transition: all 0.3s;

      &:hover {
        color: $maroon;
        border-bottom: solid 3px $maroon;
        transition: all 0.3s;
      }
    }
  }
}
