.hero_wrapper {
  position: relative;
  @include screen("tablet-wide", $type: max) {
    overflow: hidden;
  }
  .hero {
    @include make-container();
  }

  .field--name-field-image-attribution-wysiwyg {
    position: absolute;
    @include bodycopy_S($black_03);

    &:before {
      @include iconfont($black_03, "\63");
      font-size: $baseline * 1.75;
      margin-right: $baseline * 0.25;
      text-decoration: none;
      vertical-align: text-bottom;
    }
  }

  .hero_content {
    h1 {
      @include heading_M($black);
      margin: $baseline * 2 0;
      @include screen("desktop") {
        @include heading_L($black);
        margin: $baseline * 3 0;
      }
      @include screen("desktop-wide") {
        @include heading_XL($black);
      }
    }
  }
  // HERO FULL
  &.hero_full {
    background-color: $bg-03;
    background-image: url("#{$image-path}/pattern_01.svg");
    background-repeat: repeat;
    background-size: 15%;

    picture {
      margin: 0 auto;

      img {
        object-fit: cover;
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        text-align: center;
      }
    }

    // photo attribute
    .field--name-field-image-attribution-wysiwyg {
      bottom: -25px;
      right: 15px;
      @media only screen and (min-width: 1800px) {
        right: calc((100vw - 1800px) / 2);
      }

      &:before {
        font-size: 1.5rem;
        vertical-align: text-bottom;
      }
    }
  }

  // END -- HERO FULL

  // HERO PROGRAM DETAIL
  &.hero_program_detail {
    padding: $baseline * 4 0;
    margin-bottom: $baseline * 5;

    .hero {
      &:before {
        background-color: $bg_02;
        content: "";
        position: absolute;
        width: 100%;
        right: 0;
        top: 0;
        height: 100%;
        z-index: -1;
        @include screen("tablet-wide") {
          right: calc(50% + -30rem);
        }
      }

      .hero_content {
        @include make-sm-column(7);
        opacity: 0;
        animation: opacity_animation 1.5s 1 0.5s ease;
        animation-fill-mode: forwards;

        .program_meta .category .category_name {
          background-color: $bg_02;
        }

        p {
          @include bodycopy_L($black);
          margin-bottom: $baseline * 3;
        }
      }
      .hero_img {
        @include make-sm-column(5);
        @include make-lg-column(4);
        @include make-lg-column-push(1);
        margin-top: $baseline * 3;

        @include screen("tablet") {
          margin-top: 0;
        }

        img {
          animation: hero_image_slideIn 1s 1 0s ease;
          animation-fill-mode: forwards;
        }
      }
    }
  }
  // END -- HERO PROGRAM DETAIL

  // HERO PROGRAM INTERIOR PAGES
  &.hero_program_interior {
    padding: $baseline * 4 0;
    margin-bottom: $baseline * 5;

    .hero {
      &:before {
        background-color: $bg_02;
        content: "";
        position: absolute;
        width: 100%;
        right: 0;
        top: 0;
        height: 100%;
        z-index: -1;
        @include screen("tablet-wide") {
          right: calc(50% + -30rem);
        }
      }

      .hero_content {
        @include make-sm-column(7);
        @include screen("desktop") {
          padding: $baseline * 3 0;
        }
        opacity: 0;
        animation: opacity_animation 1.5s 1 0.5s ease;
        animation-fill-mode: forwards;

        h2 {
          @include heading_L($black);
          margin: $baseline * 3 0;
        }
        h1 {
          @include bodycopy_XL($black_02);
          margin: 0;
        }

        .program_meta .category .category_name {
          background-color: $bg_02;
        }
      }
    }
  }
  // END -- HERO PROGRAM INTERIOR PAGES

  // HERO STORY
  &.hero_story {
    margin-bottom: $baseline * 3;
    @include screen("tablet-wide") {
      margin-bottom: $baseline * 6;
    }
    @include screen("desktop-wide") {
      margin-bottom: $baseline * 9;
    }

    .hero {
      &:before {
        background-color: $bg_02;
        content: "";
        height: calc(100% + 1.5rem);
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
        max-width: 99vw;
        @include screen("desktop") {
          max-width: 95vw;
        }
      }
      .hero_img {
        @include screen("phablet, $type: max") {
          @include make-xs-column(12);
        }
        @include make-sm-column(4);
        @include make-sm-column-pull(8);
        margin-top: $baseline * 2;
        @include screen("tablet-wide") {
          @include make-md-column(5);
          @include make-md-column-pull(7);
          margin-top: 0;
        }

        .field--name-field-image-attribution-wysiwyg {
          &:before {
            color: $white;
          }
          right: $baseline * 2;
          bottom: $baseline;
          color: $white;
          @include screen("tablet") {
            bottom: -$baseline * 2.5;
          }
          @include screen("tablet-wide") {
            right: $baseline;
          }
        }

        &:after {
          background-color: $maroon;
          content: "";
          position: absolute;
          width: calc(100% - 30px);
          height: 100%;
          top: 0;
          z-index: -1;
          @include screen("tablet") {
            height: 25%;
            top: auto;
          }
          @include screen("tablet-wide") {
            bottom: -$baseline * 4;
            right: -$baseline;
          }
        }
      }

      .hero_content {
        padding-top: $baseline * 2;
        @include screen("phablet, $type: max") {
          @include make-xs-column(12);
        }
        @include make-sm-column(8);
        @include make-sm-column-push(4);
        @include screen("tablet") {
          padding: $baseline * 2 0 $baseline $baseline * 3;
        }
        @include screen("tablet-wide") {
          @include make-md-column(7);
          @include make-md-column-push(5);
        }
        @include screen("tablet-wide") {
          padding: $baseline * 2 0 $baseline $baseline * 3;
        }
        @include screen("desktop") {
          padding: $baseline * 2.5 $baseline * 3 $baseline $baseline * 3;
        }
        @include screen("desktop-wide") {
          padding: $baseline * 6 $baseline * 3 $baseline * 3 $baseline * 3;
        }

        .meta {
          .type {
            @include utility_L($maroon);
          }
          .date {
            @include bodycopy_S($plum);
          }
        }

        h1 {
          margin: $baseline * 1.5 0;
          @include screen("desktop") {
            margin: $baseline * 2 0;
          }
        }
        .hero_intro {
          @include bodycopy_M($black);
          margin-bottom: 0;
          @include screen("desktop") {
            @include bodycopy_L($black);
          }
        }

        .hero_author_share {
          margin: $baseline * 2 0;
          @include screen("desktop") {
            margin: $baseline * 3 0;
          }
          .author {
            @include bodycopy_S($black_02);
            @include screen("tablet-wide") {
              float: left;
            }
          }
          .share {
            @include screen("tablet-wide") {
              float: right;
            }
          }
        }
      }
    }
  }
  // END -- HERO STORY
  // HERO AOS

  &.hero_aos {
    padding: $baseline * 3 0 $baseline * 3;
    margin-bottom: $baseline * 5;

    .hero {
      &:before {
        background-color: $bg_02;
        content: "";
        position: absolute;
        width: 100%;
        right: 0;
        top: 0;
        height: 100%;
        z-index: -1;
        @include screen("tablet-wide") {
          right: calc(50% + -30rem);
        }
      }
      .hero_content_wrapper {
        @include make-sm-column(7);
      }
      .hero_content {
        @include make-sm-column(12);
        background-color: $maroon;
        padding: $baseline * 2.5;

        @include screen("desktop-wide") {
          //min-height: 475px;
          padding: $baseline * 5;
        }

        &:after {
          background-color: $maroon;
          content: "";
          left: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          width: 100vw;
          z-index: -1;
        }

        .meta {
          @include utility_L($mustard);
        }
        h1 {
          color: $white;
          margin: $baseline * 2 0;
        }
        .lede p {
          @include bodycopy_L($white);
          margin-bottom: $baseline * 4;
        }
      }
      .hero_cta {
        @include make-sm-column(12);
        padding: $baseline * 2.5;
        @include screen("desktop-wide") {
          padding: $baseline * 2.5 $baseline * 5;
        }
        p {
          @include bodycopy_M($black);
          margin-bottom: $baseline * 1.25;
        }
      }
      .hero_img {
        @include make-sm-column(5);
        @include screen("desktop") {
          //@include make-sm-column-push(1);
        }

        .field--name-field-image-attribution-wysiwyg,
        .field--name-field-image-attribution-wysiwyg:before {
          top: calc(100% + 5px);
          @include screen("desktop", $type: max) {
            color: $white;
          }
        }

        img {
          margin-top: $baseline * 2;
        }
      }
    }
  }
  // END HERO AOS

  // START HERO FIND YOUR FIT
  &.hero_findYourFit {
    .hero_intro {
      @include make-sm-column(12);
      @include screen("tablet-wide") {
        @include make-sm-column(9);
      }
      margin: $baseline * 2 0;
      p {
        @include bodycopy_XL($black);
      }
    }
    .hero_content {
      @include make-sm-column(12);
      .col1 {
        @include make-sm-column(12);
        @include screen("tablet") {
          @include make-sm-column(5);
          padding: 0 $colwidth/2;
        }
      }
      .col2 {
        @include make-sm-column(12);
        @include screen("tablet") {
          @include make-sm-column(7);
        }
      }
    }
  }
  // END HERO FIND YOUR FIT

  // START EVENT HERO
  &.hero_event {
    margin-bottom: $baseline * 6;

    .hero_content_wrapper {
      background-color: $bg-02;
      @include make-sm-column(12);
      @include screen("tablet") {
        @include make-sm-column(6);
      }
      @include screen("desktop") {
        @include make-sm-column(8);
      }
    }
    .hero_img {
      @include make-sm-column(12);
      @include screen("tablet") {
        @include make-sm-column(6);
      }
      @include screen("desktop") {
        @include make-sm-column(4);
        margin-top: $colwidth * 1.5;
        margin-right: -$colwidth;
      }
      @include screen("desktop-wide") {
        margin-top: $colwidth;
      }

      .field--name-field-image-caption {
        display: none;
      }
      .field--name-field-image-attribution-wysiwyg {
        position: absolute;
        right: 0;
        p {
          @include bodycopy_XS($black_02);
          display: inline;
        }
      }
    }
    .hero_img_full {
      img {
        object-fit: cover;
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        text-align: center;
      }
    }
    .hero {
      .hero_content_wrapper {
        .hero_content {
          padding: $baseline * 3;
          @include screen("desktop") {
            padding: $baseline * 5;
          }
          &:before {
            background-color: $bg-02;
            content: "";
            display: block;
            height: 100%;
            right: 0;
            position: absolute;
            width: 100vw;
            top: 0;
            z-index: 0;
          }
          &:after {
            background-color: $bg-02;
            content: "";
            display: block;
            height: 100%;
            left: 100%;
            position: absolute;
            top: 0;
            width: 100vw;
            z-index: 0;
            @include screen("desktop") {
              width: $colwidth * 3;
            }
          }
          .content {
            position: relative;
            z-index: 5;

            .meta {
              @include utility_L($maroon);
              margin-bottom: 0;
            }
            h1 {
              @include heading_M($black);
              @include screen("tablet-wide") {
                @include heading_L($black);
                font-size: $baseline * 2.5;
              }
              margin: $baseline * 1.5 0 $baseline;
            }
            .lede p {
              @include bodycopy_L($black);
            }
          }
        }
        .hero_eventDate {
          background-color: $maroon;
          position: absolute;
          text-align: center;
          bottom: auto;
          right: 0;
          top: 0;
          padding: $baseline;
          z-index: 6;
          @include screen("tablet") {
            right: -15px;
          }
          @include screen("desktop") {
            align-items: center;
            display: flex;
            width: 140px;

            height: 140px;
            padding: 0;
            top: auto;
            bottom: -70px;
            right: -85px;
          }

          .eventDate_wrap {
            width: 100%;
            span {
              @include bodycopy_L($white);
              @include screen("desktop") {
                display: block;
              }
            }
          }
        }
      }
      &.full {
        .hero_content_wrapper {
          margin-top: -2vh;
          @include make-sm-column(12);
          @include screen(tablet) {
            margin-top: -10vh;
          }
          @include screen(desktop) {
            margin-top: -20vh;
            @include make-sm-column(8);
          }
          @include screen(desktop-wide) {
            margin-top: -25vh;
          }

          .hero_content {
            &:after {
              display: none;
            }
          }

          .hero_eventDate {
            top: 0;
            right: 0;

            @include screen("tablet") {
            }
            @include screen("tablet-wide") {
              top: 0;
            }
            @include screen("desktop") {
              top: 25%;
              right: -140px;
            }
            @include screen("desktop-wide") {
              top: 35%;
            }
          }
        }
      }
    }
  }
}
