// PHOTOS

// Headshot Photos

.headshot {
  display: block;
  border-radius: 50%;
  width: $baseline * 7;
  height: $baseline * 7;
  position: relative;
  margin: 0 auto $baseline * 2;

  img {
    border-radius: 50%;
    max-width: 100%;
    z-index: 5;
    position: relative;
  }

  &:after {
    content: "";
    position: absolute;
    background-color: #ffb547;
    display: block;
    top: -5px;
    left: -5px;
    border-top-left-radius: calc(3.5rem + 5px);
    border-bottom-left-radius: calc(3.5rem + 5px);
    width: calc(3.5rem + 5px);
    height: calc(7rem + 10px);
    z-index: 1;
  }

  &.small {
    width: $baseline * 3.5;
    height: $baseline * 3.5;

    &:after {
      top: -3px;
      left: -3px;
      border-top-left-radius: calc(1.75rem + 3px);
      border-bottom-left-radius: calc(1.75rem + 3px);
      width: calc(1.75rem + 3px);
      height: calc(3.5rem + 6px);
    }
  }
}

// video embeds

.video {
  @include video();
}

//content images
figure {
  .img {
  }
  figcaption {
    margin-top: $baseline;
    text-align: left;
  }

  &.content_img {
    margin-bottom: $baseline * 2;
    max-width: 100%;
    text-align: center;
    width: 100%;
    @include screen("tablet") {
      max-width: 50%;
    }

    &.right {
      @include screen("tablet") {
        float: right;
        margin-left: $baseline;
        padding-left: $baseline;
      }
      @include screen("tablet-wide") {
        border-left: solid 1px $divider-gray;
        margin-left: $baseline * 2;
        padding-left: $baseline * 2;
      }
      @include screen("desktop") {
        margin-right: -$colwidth;
      }
      @include screen("desktop-wide") {
        margin-right: -$colwidth * 2;
      }
    }

    &.left {
      @include screen("tablet") {
        float: left;
        margin-right: $baseline;
        padding-right: $baseline;
      }

      @include screen("tablet-wide") {
        border-right: solid 1px $divider-gray;
        margin-right: $baseline * 2;
        padding-right: $baseline * 2;
      }
      @include screen("desktop") {
        margin-right: -$colwidth;
      }
      @include screen("desktop-wide") {
        margin-right: -$colwidth * 2;
      }
    }
  }
}
