// PHOTOS

// Headshot Photos

.headshot {
  display: block;
  border-radius: 50%;
  width: $baseline * 7;
  height: $baseline * 7;
  position: relative;
  margin: 0 auto $baseline * 2;

  img {
    border-radius: 50%;
    max-width: 100%;
    z-index: 5;
    position: relative;
  }

  &:after {
    content: "";
    position: absolute;
    background-color: #ffb547;
    display: block;
    top: -5px;
    left: -5px;
    border-top-left-radius: calc(3.5rem + 5px);
    border-bottom-left-radius: calc(3.5rem + 5px);
    width: calc(3.5rem + 5px);
    height: calc(7rem + 10px);
    z-index: 1;
  }

  &.small {
    width: $baseline * 3.5;
    height: $baseline * 3.5;

    &:after {
      top: -3px;
      left: -3px;
      border-top-left-radius: calc(1.75rem + 3px);
      border-bottom-left-radius: calc(1.75rem + 3px);
      width: calc(1.75rem + 3px);
      height: calc(3.5rem + 6px);
    }
  }
}

// video embeds

.video {
  @include video();
}

//content images
.content_img {
  @include make-container;
  margin: $baseline * 3 0;

  figure {
    @include make-row;

    figcaption {
      margin-left: 3%;
      margin-top: $baseline * 2;
      float: right;
      text-align: left;
      width: 27%;
    }

    .img {
      float: left;
      width: 70%;

      img {
        width: 100%;
      }
    }
  }
  &.right {
    figcaption {
      float: left;
      margin-right: 3%;
      margin-left: 0;
    }
    .img {
      float: right;
    }
  }
}
