// PHOTOS

// Headshot Photos

.headshot {
  display: block;
  border-radius: 50%;
  width: $baseline * 7;
  height: $baseline * 7;
  position: relative;
  margin: 0 auto $baseline * 2;

  img {
    border-radius: 50%;
    max-width: 100%;
    z-index: 5;
    position: relative;
  }

  &:after {
    content: "";
    position: absolute;
    background-color: #ffb547;
    display: block;
    top: -5px;
    left: -5px;
    border-top-left-radius: calc(3.5rem + 5px);
    border-bottom-left-radius: calc(3.5rem + 5px);
    width: calc(3.5rem + 5px);
    height: calc(7rem + 10px);
    z-index: 1;
  }

  &.small {
    width: $baseline * 3.5;
    height: $baseline * 3.5;

    &:after {
      top: -3px;
      left: -3px;
      border-top-left-radius: calc(1.75rem + 3px);
      border-bottom-left-radius: calc(1.75rem + 3px);
      width: calc(1.75rem + 3px);
      height: calc(3.5rem + 6px);
    }
  }
}

// video embeds

.video {
  @include video();
}

//content images

// These styles are specifically for the stories - we might need to make a trigger for these styles
figure {
  .img {
  }
  figcaption {
    margin-top: $baseline;
  }

  &.story_img {
    @include make-row();
    margin-top: $baseline * 2;
    margin-bottom: $baseline * 2;

    @include screen("tablet") {
      // margin-left: -16.66667%; THIS NEEDS TO BE ADDED TO STORIES AND EDITORIALS - SPECIAL CLASS
      // margin-right: -16.66667%; THIS NEEDS TO BE ADDED TO STORIES AND EDITORIALS - SPECIAL CLASS
    }

    &.full {
      .img {
        @include make-sm-column(12);
      }
      figcaption {
        @include make-sm-column(6);
      }
    }

    &.left,
    &.right {
      .img {
        @include make-sm-column(8);
      }
      figcaption {
        @include make-sm-column(4);
      }
    }

    &.right {
      .img {
        @include make-sm-column-push(4);
      }
      figcaption {
        @include make-sm-column-pull(8);
      }
    }
  }

  &.content_img {
    @include make-row();
    @include screen("tablet-small") {
      @include make-sm-column(8);
    }
    @include screen("desktop") {
      @include make-md-column(7);
    }
    margin-bottom: $baseline * 2;

    &.right {
      float: right;
      @include screen("tablet") {
        margin-left: $baseline;
        padding-left: $baseline;
      }
      @include screen("tablet-wide") {
        border-left: solid 1px $divider-gray;
        //margin-right: -16.66667%; THIS NEEDS TO BE ADDED TO STORIES AND EDITORIALS - SPECIAL CLASS
        margin-left: $baseline * 2;
        padding-left: $baseline * 2;
      }
    }

    &.left {
      float: left;

      @include screen("tablet") {
        margin-right: $baseline;
        padding-right: $baseline;
      }

      @include screen("tablet-wide") {
        border-right: solid 1px $divider-gray;
        //margin-left: -16.6667%; THIS NEEDS TO BE ADDED TO STORIES AND EDITORIALS - SPECIAL CLASS
        margin-right: $baseline * 2;
        padding-right: $baseline * 2;
      }
    }
  }
}
