// Perspectives & Case Studies
.article,
.casestudy {
  @include make-container();

  .content {
    background-color: $white;
    @include make-sm-column(10);
    @include make-sm-column-push(1);
    @include screen("desktop-wide") {
      @include make-sm-column(8);
      @include make-sm-column-push(2);
    }
  }

  .article_top,
  .casestudy_top {
    padding: $baseline * 5 $baseline * 5 0;

    .meta {
      text-align: center;
      margin-bottom: $baseline * 2;
    }

    h1 {
      @include heading_XL($black);
      margin-bottom: $baseline * 2;
      text-align: center;
    }
    .lede {
      p {
        @include bodycopy_L($black);
        margin-bottom: $baseline * 2;
      }
    }

    .share {
      .addtoany_list {
        .share_title {
          margin-right: $baseline;
          @include utility_M($black_03);
        }
      }
    }
  }

  .article_bottom,
  .casestudy_bottom {
    padding: 0 $baseline * 5 $baseline * 8 $baseline * 8;
  }
}
.article {
  .article_top {
    .written_by {
      p {
        @include bodycopy_S($black);
        margin-bottom: $baseline * 4;
      }
    }
    .topics {
      @include make-sm-column(6);

      ul {
        @include listreset();

        li {
          @include bodycopy_S($plum, $bold: true);
          display: inline;
          padding-left: calc($baseline+2px);
          padding-right: $baseline;
          margin: 0;

          &:before {
            background-color: silver;
            content: "";
            display: block;
            height: 100%;
            top: 0;
            width: 2px;
          }

          &:first-child {
            padding-left: 0;
            &:before {
              display: none;
            }
          }
        }
      }
    }
    .share {
      @include make-sm-column(6);
      .addtoany_list {
        float: right;
        text-align: right;
      }
    }
    .in_brief {
      background-color: $bg_02;
      margin: $baseline * 5 0;
      padding: $baseline * 2.5 $baseline * 5;
      text-align: left;

      h3 {
        @include utility_M($black_02);
      }
      ol li {
        margin-bottom: $baseline * 2;
        @include bodycopy_S($black);
        &:before {
          font-size: 0.875rem;
        }
      }
    }

    .intro p {
      @include heading_S($black);
    }
  }
}

.casestudy {
  .share {
    @include make-sm-column(12);
    .addtoany_list {
      display: block;
      text-align: center;
    }
  }
  .summary {
    background-color: $bg_02;
    float: left;
    margin-top: $baseline * 5;
    margin-left: -$baseline * 6;
    margin-right: -$baseline * 6;
    margin-bottom: $baseline * 5;
    padding: $baseline * 2 $baseline * 4;

    .col {
      @include make-sm-column(4);
      h3 {
        @include utility_M($black_02);
        border-bottom: solid 1px $divider-gray;
        margin-bottom: 0.75rem;
        line-height: $baseline * 2.75;
      }
      p {
        @include bodycopy_S($black_02);
      }
    }
  }
  .partnership {
    hr:before {
      border-top-color: $divider-gray;
      width: 100%;
    }
    .partnership_content {
      padding: $baseline * 2 $baseline * 5 $baseline * 8 $baseline * 8;
      h3 {
        @include utility_S($black_02);
        margin-bottom: $baseline * 2;
      }
      .description {
        margin-bottom: $baseline * 3;
      }
      .sponsors {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: center;

        .sponsor_img {
          width: 50%;
          text-align: center;
        }
      }
    }
  }
}
