// ARTICLE (PERSPECTIVES) & CASE STUDIES
.article,
.casestudy {
  @include make-container();

  .content_body {
    @include make-row();

    > .content {
      background-color: $white;
      margin-top: -10%;
      @include make-sm-column(12);
      @include screen("tablet-wide") {
        @include make-sm-column(10);
        @include make-sm-column-push(1);
      }
      // @include screen("desktop-wide") {
      //   @include make-sm-column(8);
      //   @include make-sm-column-push(2);
      // }
    }

    .article_top,
    .casestudy_top {
      padding: $baseline * 2 $baseline 0;
      @include screen("tablet-wide") {
        padding: $baseline * 5 $baseline * 5 0;
      }

      .meta {
        text-align: center;
        margin-bottom: $baseline * 2;
      }

      h1 {
        @include heading_XL($black);
        margin-bottom: $baseline * 2;
        text-align: center;
      }
      .lede {
        p {
          @include bodycopy_L($black);
          margin-bottom: $baseline * 2;
        }
      }
    }

    .article_bottom,
    .casestudy_bottom {
      padding: 0 $baseline * 2 $baseline * 2;
      @include screen("tablet-wide") {
        padding: 0 $baseline * 5 $baseline * 5 $baseline * 8;
      }

      .content_img {
        @include screen("desktop") {
          margin-left: -$colwidth;
          margin-right: -$colwidth;
        }
      }

      .cta100_wrapper {
        margin-left: calc(-2rem + -16px);
        width: calc(100% + 4rem + 31px);

        @include screen("tablet-wide") {
          margin-left: calc(-8rem + -16px);
          width: calc(100% + 13rem + 31px);
        }
      }

      // replace this class later  CAROUSEL
      .slick--field-image-carousel-items--default {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
      }
    }
  }
}
// END - ARTICLE (PERSPECTIVES) & CASE STUDIES
// ARTICLE
.article {
  .article_top {
    .written_by {
      p {
        @include bodycopy_S($black);
        margin-bottom: $baseline * 4;
      }
    }
    .topics {
      @include make-sm-column(6);

      ul {
        @include listreset();

        li {
          @include bodycopy_S($plum, $bold: true);
          display: inline;
          padding-left: calc(1rem + 2px);
          padding-right: $baseline;
          margin: 0;

          &:before {
            background-color: $divider-gray;
            content: "";
            display: block;
            height: 100%;
            top: 0;
            width: 2px;
          }

          &:first-child {
            padding-left: 0;
            &:before {
              display: none;
            }
          }
        }
      }
    }
    .share {
      @include make-sm-column(6);
      .addtoany_list {
        float: right;
        text-align: right;
      }
    }
    .in_brief {
      background-color: $bg_02;
      padding: $baseline $baseline * 2;
      margin-top: $baseline * 3;
      margin-left: -$baseline;
      margin-right: -$baseline;
      margin-bottom: $baseline * 3;
      text-align: left;

      @include screen("tablet") {
        padding: $baseline $baseline * 2;
        margin-top: $baseline * 3;
        //margin-left: -$baseline * 2;
        //margin-right: -$baseline * 2;
        margin-bottom: $baseline * 3;
      }

      @include screen("desktop") {
        margin-top: $baseline * 5;
        //margin-left: -$baseline * 6;
        //margin-right: -$baseline * 6;
        margin-bottom: $baseline * 5;
        padding: $baseline * 2 $baseline * 4;
      }

      h3 {
        @include utility_M($black_02);
      }
      ol li {
        margin-bottom: $baseline * 2;
        @include bodycopy_S($black);
        &:before {
          font-size: 0.875rem;
        }
      }
    }

    .intro p {
      @include heading_S($black);
    }
  }
}
// END - ARTICLE

// CASESTUDY
.casestudy {
  .share {
    @include make-sm-column(12);
    // this takes away the padding created by the include above on screens smaller than 559px, so it lines up to the left
    @include screen("phablet", $type: max) {
      padding-left: 0;
    }
    .addtoany_list {
      display: block;
      @include screen("tablet-wide") {
        text-align: center;
      }
    }
  }
  .summary {
    background-color: $bg_02;
    float: left;
    padding: $baseline $baseline * 2;
    margin-top: $baseline * 3;
    margin-left: -$baseline;
    margin-right: -$baseline;
    margin-bottom: $baseline * 3;

    @include screen("tablet") {
      padding: $baseline $baseline * 2;
      margin-top: $baseline * 3;
      margin-left: -$baseline * 2;
      margin-right: -$baseline * 2;
      margin-bottom: $baseline * 3;
    }
    @include screen("desktop") {
      margin-top: $baseline * 5;
      margin-left: -$baseline * 6;
      margin-right: -$baseline * 6;
      margin-bottom: $baseline * 5;
      padding: $baseline * 2 $baseline * 4;
    }

    .col {
      @include make-sm-column(4);
      h3 {
        @include utility_M($black_02);
        border-bottom: solid 1px $divider-gray;
        margin-bottom: 0.75rem;
        line-height: $baseline * 2.75;
      }
      p {
        @include bodycopy_S($black_02);
      }
    }
  }

  .intro {
    margin-bottom: $baseline * 3;
    p {
      @include heading_S($black);
      margin-bottom: 0;
    }
  }

  .partnership {
    @include make-sm-column(12);
    hr {
      margin-top: 0;
      &:before {
        border-top-color: $divider-gray;
        width: 100%;
      }
    }
    > .content {
      @include make-sm-column(12);
      @include screen("tablet-wide") {
        @include make-sm-column(10);
        @include make-sm-column-push(1);
      }
      @include screen("desktop-wide") {
        @include make-sm-column(8);
        @include make-sm-column-push(2);
      }

      .partnership_content {
        padding: $baseline * 2;
        @include screen("tablet-wide") {
          padding: $baseline * 2 $baseline * 5 $baseline $baseline * 8;
        }

        h3 {
          @include utility_S($black_02);
          margin-bottom: $baseline * 2;
        }
        .description {
          margin-bottom: $baseline * 3;
        }
        .sponsors {
          @include screen("tablet") {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            align-items: center;
          }

          .sponsor_img {
            @include screen("tablet") {
              width: 50%;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .of_interest {
    @include make-sm-column(12);
  }
}
// END - CASESTUDY

// STORY
.story {
  @include make-container();

  .content_body {
    @include make-row;

    .content {
      background-color: $white;
      @include make-sm-column(12);
      @include screen("tablet-wide") {
        @include make-sm-column(10);
        @include make-sm-column-push(1);
      }
      @include screen("desktop-wide") {
        @include make-sm-column(8);
        @include make-sm-column-push(2);
      }

      .story_profile {
        margin: $baseline * 2.5 0;
        @include screen("tablet-wide") {
          float: right;
          margin: 0 0 $baseline * 2.5 $baseline * 2.5;
        }
        @include screen("desktop") {
          margin-right: -16.6667%;
        }
      }

      .intro p {
        @include heading_S($black);
      }
    }
  }
}
// END - STORY

// AREA OF STUDY
.page-node-type-area-of-study {
  .area_of_study {
    @include make-container();
    .content {
      @include make-sm-column(12);
      margin-bottom: $baseline * 5;

      .content1323 {
        .col1 {
          @include make-sm-column(5);
          p {
            @include heading_S($black);
          }
        }
        .col2 {
          @include make-sm-column(7);
        }
      }
    }
  }
}
// END - AREA OF STUDY

// PROGRAM DETAIL PAGE
.program_detail {
  @include make-container();

  > .content {
    background-color: $white;

    @include make-sm-column(12);
    @include screen("tablet-wide") {
      @include make-sm-column(10);
    }
    @include screen("desktop-wide") {
      @include make-sm-column(8);
    }
  }

  .program_preview {
    border-bottom: solid 2px $divider-gray;

    @include screen("phablet") {
      display: flex;
      margin-bottom: $baseline * 5;
      padding-bottom: $baseline * 5;
    }

    .col {
      padding-right: $baseline;
      @include screen("phablet") {
        flex: 1;
      }

      h3 {
        @include utility_M($black_02);
      }

      dl {
        dt {
          @include bodycopy_M($black);
        }
        dd {
          @include bodycopy_M($black, $bold: true);

          .confers {
            display: block;
            &:before {
            }
          }
          .cost em {
            font-style: normal;
            font-weight: normal;
            font-size: 90%;
          }
          .fin_aid {
            display: block;
            > a {
              border-bottom: solid 2px $maroon;
              color: $plum;
              padding: 0 0 2px;
              margin: 0.75rem 0;
              transition: all 0.2s ease-out;
              text-decoration: none;

              &:hover {
                color: $maroon;
                transition: all 0.2s ease-in;
              }
            }
          }
        }
      }
    }
  }

  .intro {
    p {
      @include heading_S($maroon);
      margin-bottom: $baseline * 4;
    }
  }

  .cta_aos {
    clear: both;
    width: 100%;
  }
}
// END - PROGRAM DETAIL PAGE
// PROGRAM INTERIOR PAGE(S)

.program_interior {
  @include make-container();

  .content {
    background-color: $white;

    @include make-sm-column(12);
    @include screen("tablet-wide") {
      @include make-sm-column(8);
      @include make-sm-column-pull(4);
    }
    @include screen("desktop") {
      @include make-sm-column(9);
      @include make-sm-column-pull(3);
    }
  }

  .profile_preview_wrapper {
    @include make-container();
    margin-bottom: $baseline * 6;
    .profile_preview_body {
      @include make-row;
    }
    .profile_preview {
      @include make-lg-column(12);
      @include screen("phablet") {
        display: flex;
      }
      .profile_preview_headshot {
        margin-right: $colwidth;
        width: $baseline * 7;
        @include screen("phablet", $type: max) {
          margin-left: 0;
        }
      }
      .profile_preview_content {
        @include screen("phablet") {
          flex: 1;
        }

        h3 {
          @include bodycopy_L($black, $bold: true);
          margin: 0;
        }
        .job_title p {
          @include bodycopy_L($black);
        }

        .relatedCourse_wrapper {
          background-color: $bg-02;
          margin-bottom: $baseline;
          padding: $baseline * 2;

          h4 {
            @include bodycopy_L($black_02);
          }
          ul.relatedCourse {
            padding: 0;

            li {
              a {
                @include bodycopy_M($black, $bold: true);
                border-bottom: solid 2px $maroon;
                text-decoration: none;
                transition: all 0.2s ease-out;

                &:hover {
                  color: $maroon;
                  transition: all 0.2s ease-in;
                }
              }
              .course_code {
                @include utility_M($black);
              }
            }
          }
        }
      }
    }
  }
}

// END - PROGRAM INTERIOR PAGE(S)
// FIND YOU FIT
.findYourFit {
  .intro_wrapper {
    @include make-row;
    background-color: $bg-02;
    position: relative;
    padding: $baseline * 4 0;
    margin-bottom: $baseline * 4;
    @include screen("tablet-wide") {
      padding: $baseline * 6;
      margin-bottom: $baseline * 6;
    }

    &:after {
      @include screen("tablet-wide") {
        background-color: $maroon;
        bottom: -$baseline * 3;
        content: "";
        height: $baseline * 3;
        position: absolute;
        right: 0;
        width: 40vw;
      }
    }

    .intro_body {
      @include make-container;

      .intro {
        @include make-row;

        h3 {
          @include heading_M($black);
        }

        .col1,
        .hdr {
          @include screen("tablet-wide") {
            padding: 0 $colwidth;
          }
        }
        .col2 {
          h4 {
            @include utility_L($black_02);
            margin-top: 0;
          }
          p {
            margin-bottom: 0;
            @include bodycopy_L($plum, $bold: true);
            a {
              color: $plum;
              text-decoration: none;

              &:hover {
                color: $maroon;
              }
            }
          }
        }
      }
    }
  }

  .content_wrapper {
    @include make-container;

    .content_body {
      @include make-row;
    }
  }
}
