.path-alias--index {
  .content_wrapper {
    .intro_wrapper {
      @include make-container;
      .intro_body {
        @include make-row;
      }
      .intro {
        float: left;
        padding: $baseline * 3 0;
        position: relative;
        @include screen("desktop") {
          padding: $baseline * 6 0;
        }

        &:before {
          background-color: $bg-02;
          content: "";
          position: absolute;
          height: 100%;
          right: 5%;
          top: 0;
          width: 100vw;
          @include screen("desktop") {
            right: 0;
          }
        }
        &:after {
          background-color: $maroon;
          content: "";
          position: absolute;
          height: 75%;
          left: 50%;
          top: -$baseline * 3;
          width: 50vw;
          z-index: -1;
        }

        .intro_content {
          @include make-xs-column(12);
          padding-right: $colwidth;
          margin-bottom: $baseline * 2;

          @include screen("phablet") {
            @include make-xs-column(7);
            @include make-xs-column-push(4);
          }

          @include screen("desktop") {
            @include make-sm-column(5);
            @include make-sm-column-push(6);
          }
          h2 {
            @include heading_M($black);
          }
          .content100_wrapper {
            padding: 0;
          }
        }
        .intro_img {
          @include make-xs-column(12);
          @include screen("phablet") {
            @include make-xs-column(4);
            @include make-xs-column-pull(7);
          }

          @include screen("desktop") {
            @include make-sm-column(6);
            @include make-sm-column-pull(6);
          }
        }
      }
    }
    .preview_wrapper {
      @include make-container;
      .preview_body {
        @include make-row;
      }
      .preview {
        @include make-sm-column(12);
        float: left;
        padding-bottom: $baseline * 3;

        @include screen("tablet") {
          float: none;
          display: flex;
          padding: 0 $colwidth;
          margin-bottom: $baseline * 3;
        }
        @include screen("desktop") {
          padding: 0 $colwidth/2;
          margin-bottom: $baseline * 5;
        }

        &:before {
          background-color: $bg-02;
          content: "";
          position: absolute;
          height: 100%;
          right: 5%;
          top: 0;
          width: 100vw;
          @include screen("tablet") {
            height: 35%;
          }
          @include screen("desktop") {
            right: 0;
            height: 50%;
          }
        }
        .card {
          border: 0;
          clear: both;
          float: left;
          padding: $baseline 0;
          width: 100%;

          @include screen("tablet") {
            float: none;
            flex: 1;
            padding: 0 1%;
            width: 25%;
          }
          .card_img {
            float: left;
            width: 25%;
            @include screen("tablet") {
              float: none;
              width: 100%;
            }

            .field--name-field-image-attribution-wysiwyg,
            .field--name-field-image-caption {
              display: none;
            }
          }
          .card_content {
            float: left;
            width: 65%;
            margin-left: 5%;

            @include screen("tablet") {
              float: none;
              width: 100%;
              margin: 0;
              text-align: center;
              padding: 0 $baseline;
            }

            h3 a {
              @include bodycopy_M($black, $bold: true);
              margin-bottom: $baseline;
            }
            p {
              @include bodycopy_S($black);
            }
          }
        }
      }
    }
    .youvisit {
      position: relative;
      display: block;
      width: 100%;
      padding: 0;
      overflow: hidden;
      &:before {
        padding-top: 35%;
        content: "";
        display: block;
      }
      iframe {
        position: absolute !important;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        border: 0;
      }
    }

    .relatedStory_wrapper {
      @include make-container;
      position: relative;
      padding: $baseline * 3 $baseline;

      &:before,
      &:after {
        background-color: $bg_02;
        content: "";
        height: 100%;
        position: absolute;
        width: 100vw;
        top: 0;
        z-index: -1;
      }
      &:after {
        left: 0;
      }
      &:before {
        right: 0;
      }

      .relatedStory_body {
        @include make-row;
      }
      .relatedStory {
        @include make-sm-column(12);
        margin: $baseline * 2 0;
        padding: $baseline * 2 0;
        @include screen("desktop") {
          display: flex;
          align-items: center;
          margin: $baseline * 4 0;
          padding: $baseline * 4 0;
        }

        .relatedStory_img {
          @include make-xs-column(12);
          margin-bottom: $baseline * 2;
          @include screen("tablet") {
            @include make-sm-column(4);
            margin-bottom: 0;
          }
          @include screen("desktop") {
            @include make-sm-column(6);
            padding: 0 $colwidth;
            flex: 1;
          }
        }
        .relatedStory_content {
          @include make-xs-column(12);
          @include screen("tablet") {
            @include make-sm-column(8);
          }
          @include screen("desktop") {
            @include make-sm-column(6);
            flex: 1;
          }
          .meta {
            @include utility_S($black_02);
            margin: 0;
          }
          blockquote {
            @include font(
              $serif-font,
              $baseline * 1.3,
              $black,
              $serif-regular,
              $baseline * 2
            );
            margin: $baseline * 2 0;
          }
          .readmore {
            margin-bottom: 0;
            a {
              @include bodycopy_M($plum, $bold: true);
              @include anchorlink($maroon);
            }
          }
        }
      } // relatedStory_wrapper
    }
    .uchicagoDiff_slider {
      .slick--optionset--home-page-carousel {
        position: relative;

        .slick__slide {
          opacity: 0;
          transition: opacity 0.5s ease-out;

          &.slick-current {
            opacity: 1;
            transition: opacity 0.5s ease-in 1s;
          }
        }

        .uchicagoDiff_wrapper {
          @include make-container;

          .uchicagoDiff_body {
            @include make-row;

            .uchicagoDiff {
              padding: $baseline * 3;
              @include screen("tablet-small") {
                display: flex;
                align-items: center;
              }
              @include screen("tablet") {
                padding: 0;
              }

              .uchicagoDiff_content {
                text-align: center;
                padding: $baseline;
                @include make-xs-column(12);

                @include screen("tablet-small") {
                  @include make-xs-column(8);
                }
                @include screen("tablet-wide") {
                  @include make-sm-column(6);
                  padding: 0 $colwidth/2;
                  @include screen("desktop") {
                    padding: 0 $colwidth;
                  }
                }

                h3 {
                  @include heading_S($black);
                }
                a.featurelink {
                  padding: 3px;
                  @include featurelink();
                }
              }
              .uchicagoDiff_img {
                z-index: 10;
                @include make-xs-column(12);
                @include screen("tablet-small") {
                  @include make-xs-column(4);
                }
                @include screen("tablet-wide") {
                  @include make-sm-column(6);
                  //@include make-sm-column-push(6);
                }
              }
            }
          }
        }
        .slick-dots {
          list-style: none;
          margin: 0;
          padding: 0;
          position: absolute;
          bottom: 0;
          left: calc(50% - 80px);
          @include screen("tablet-small") {
            bottom: 10%;
          }
          @include screen("tablet-wide") {
            left: 16%;
          }
          @include screen("desktop") {
            left: 20%;
          }
          @include screen("desktop-wide") {
            left: 25%;
          }

          li {
            display: inline-block;
            font-size: 0;
            line-height: normal;
            padding: 0 5px;
            margin: 0;

            &:before {
              display: none;
            }

            button {
              border-radius: 10px;
              border: 0;
              outline: 0;
              font-size: 0;
              width: $baseline * 2;
              height: $baseline/2;
              background-color: $bg-06;
              background: linear-gradient(to right, $maroon 50%, $bg-06 50%);
              background-size: 200% 100%;
              background-position: right bottom;
            }
            &.slick-active button {
              background-position: left bottom;
              transition: all 5s ease-out 2.5s;
            }
          }
        }
      }
    } // .uchicagoDiff_slider
  }
  section#block-views-block-masonry-views-block-1 {
    background-color: $bg_02;
  }
}
// END - HOMEPAGE

// ABOUT PAGE
.path-alias--about {
  .hero_about {
    margin: $baseline * 4 0;
    @include screen("desktop") {
      margin-bottom: $baseline * 6;
    }
    @include screen("desktop-wide") {
      margin-bottom: $baseline * 8;
    }
  }

  // TOP of Page - Content Full and HEADERS
  .page_header {
    @include make-sm-column(12);
    h1 {
      @include heading_M($black);
      margin-bottom: $baseline * 2;
      text-align: center;
      @include screen("tablet-wide") {
        padding: 0 $colwidth;
        @include heading_L($black);
      }
      @include screen("desktop-wide") {
        padding: 0 $colwidth * 2;
      }
    }
  }

  .content100 {
    margin-bottom: $baseline * 8;
    text-align: center;
    @include screen("tablet-wide") {
      padding: 0 $colwidth;
    }
    @include screen("desktop-wide") {
      padding: 0 $colwidth * 2;
    }
  }

  // Content Two Thirds - Top of About Section
  .content2313_wrapper_full {
    @include make-row;
    background-color: $bg-02;
    position: relative;

    .content2313_wrapper {
      @include make-container;
      border-bottom: solid 1px $divider-gray;
    }

    .content2313 {
      @include clearfix();
      padding-bottom: $baseline * 4;
      @include screen("desktop") {
        padding-top: $baseline * 6;
      }
      .col1 {
      }
      .col2 {
        p {
          margin-bottom: 0;
          @include bodycopy_L($plum, $bold: true);
          a {
            color: $plum;
            text-decoration: none;

            &:hover {
              color: $maroon;
            }
          }
        }
      }
      h3 {
        @include heading_M($black);
      }
      h4 {
        @include utility_L($black_02);
        margin-top: 0;
      }
    }
  }

  .cta100_wrapper_full {
    @include make-row;
    margin-top: 0;
    margin-bottom: $baseline * 4;
    position: relative;
    @include screen("tablet-wide") {
      margin-bottom: $baseline * 5;
    }

    .cta100_wrapper {
      margin-top: 0;
      padding-top: $baseline * 4;
      padding-bottom: $baseline * 4;
      @include screen("tablet-wide") {
        padding-top: $baseline * 6;
        padding-bottom: $baseline * 6;
      }
    }
    .cta_content {
      @include screen("tablet", $type: max) {
        margin-top: $baseline * 4;
      }
      @include screen("tablet-wide") {
        padding-left: $colwidth;
      }
    }

    &:after {
      background-color: $maroon;
      bottom: -$baseline * 3;
      content: "";
      height: $baseline * 3;
      left: 0;
      position: absolute;
      width: 75%;
    }
  }

  // Content Large Image
  .contentLrgImg_wrapper {
    @include make-container;
    .contentLrgImg_body {
      @include make-row;
    }
    .contentLrgImg {
      margin: $baseline * 2 0;
      @include screen("tablet-wide") {
        margin: $baseline * 4 0;
      }
      @include screen("desktop") {
        margin: $baseline * 6 0;
      }
    }
  }

  // Strength in numbers
  .strengthInNumbers_wrapper {
    @include make-container;
  }
  .strengthInNumbers_row {
    @include make-row;
  }
  .strengthInNumbers {
    @include make-row();
    float: left;
    clear: both;
    margin: $baseline * 2 0;
    //@include screen('tablet'){margin: $baseline*3 0;};
    @include screen("desktop") {
      margin: $baseline * 5 0;
    }

    .col1 {
      @include make-sm-column(12);
      @include screen("desktop") {
        @include make-sm-column(4);
        padding: 0 $baseline * 4 0 0;
      }
      h3 {
        @include heading_XL($black);
        width: 50%;
        @include screen("desktop") {
          font-size: $baseline * 4.5;
          line-height: $baseline * 4.5;
          width: 100%;
        }
      }
    }
    .col2 {
      padding-top: $baseline * 4;
      @include make-sm-column(12);
      @include screen("desktop") {
        @include make-sm-column(8);
      }
    }
  }

  //school grid
  .aboutDivisionsSchools_wrapper_full {
    @include make-row;
    clear: both;
  }
  .aboutDivisionsSchools {
    background-color: $bg-02;
    padding: $baseline * 6 0 0;

    .ads_hdr,
    .view-header {
      // @include make-sm-column(4);
      // @include make-sm-column-push(4);
      @include make-row();
      text-align: center;
      padding: 0 5%;
      @include screen("tablet-wide") {
        padding: 0 15%;
      }
      @include screen("desktop") {
        padding: 0 25%;
      }
      @include screen("desktop-wide") {
        padding: 0 35%;
      }
    }

    .ads_hdr h2 {
      @include heading_M($black);
      margin-bottom: $baseline * 2;
    }

    .view-header p {
      @include bodycopy_L($black);
      margin-bottom: $baseline * 4;
    }

    .school-grid {
      ul {
        border-top: solid 1px $divider-gray;
        @include listreset();
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
      }
      li {
        border: solid 1px $divider-gray;
        display: flex;
        width: 100%;
        @include screen("phone-wide") {
          width: 50%;
        }
        @include screen("tablet-wide") {
          width: 33.333%;
        }
        @include screen("desktop-wide") {
          width: 25%;
        }
        @media screen and (min-width: 2000px) {
          width: 16.6666667%;
        }

        > div {
          width: 100%;
          @include screen("phone-wide") {
            min-height: 200px;
          }
          @include screen("tablet-wide") {
            min-height: 300px;
          }
        }

        a {
          @include heading_S($black);
          align-items: center;
          background-color: $white;
          display: flex;
          height: 100%;
          justify-content: center;
          padding: 10%;
          position: relative;
          text-align: center;
          width: 100%;
          transition: all 0.2s ease-out;
          text-decoration: none;

          &:after {
            bottom: $baseline;
            content: "";
            display: block;
            @include iconfont($maroon, "\3e");
            position: absolute;
            right: $baseline;
            transition: 0.2s;
          }

          &:hover {
            background-color: $bg-02;
            color: $maroon;
            transition: all 0.2s ease-in;

            &:after {
              transform: translate(5px, 0);
            }
          }
        }
      }
    }
  }
}
// END - ABOUT US
