::selection {
  background: $mustard; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $mustard; /* Gecko Browsers */
}

html {
  -webkit-font-smoothing: antialiased;
}

* {
  font-family: $sans-serif-font;
}

a {
  color: $primary-link-color;
  text-decoration: underline;

  &:hover {
    color: darken($primary-link-color, 5%);
  }

  .btn {
    text-decoration: none;
  }
}

.hdr_wrapper {
  @include make-container;
  .hdr_body {
    @include make-row;
    .hdr {
      @include make-sm-column(12);
    }
  }
}

h1 {
  font-family: $serif-font;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif-font;
}

h1 {
  @include heading_XL($black);
}
h2 {
  @include font(
    $sans-serif-font,
    $baseline * 1.75,
    $maroon,
    $sans-serif-semibold,
    $baseline * 2
  );
  margin-bottom: $baseline * 2;
}
h3 {
  @include font(
    $sans-serif-font,
    $baseline * 1.625,
    $maroon,
    $sans-serif-semibold,
    $baseline * 2
  );
  margin-bottom: $baseline * 1.875;
}
h4 {
  @include font(
    $sans-serif-font,
    $baseline * 1.5,
    $black,
    $sans-serif-semibold,
    $baseline * 2
  );
  margin-bottom: $baseline * 1.75;
}
h5,
h6 {
  @include font(
    $sans-serif-font,
    $baseline * 1.375,
    $black,
    $sans-serif-regular,
    $baseline * 2
  );
  margin-bottom: $baseline * 1.625;
}

.body,
.content {
  p,
  p:last-child,
  p:last-of-type {
    @include font(
      $sans-serif-font,
      $baseline,
      $black,
      $sans-serif-regular,
      $baseline * 2
    );
    margin-bottom: $baseline * 1.5;
  }

  // This is the Conferred by *insert school* at the bottom of program pages.
  .offered,
  .conferred {
    margin: $baseline * 2 0;
    p {
      @include font(
        $serif-font,
        $baseline * 1.125,
        $plum,
        $serif-semibold,
        $baseline * 2
      );
      letter-spacing: -1px;
      font-style: italic;
      letter-spacing: 1px;
      margin-bottom: 0;

      a {
        border-bottom: solid 2px $maroon;
        @include font(
          $serif-font,
          $baseline * 1.25,
          $plum,
          $serif-semibold,
          $baseline * 2
        );
        text-decoration: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;

        &:hover {
          color: $maroon;
        }
      }
    }
  }

  ol,
  ul {
    margin: $baseline 0;
    //padding: 0 ;
    list-style: none;

    li {
      padding: 0 0 0 $baseline * 1.5;
      @include font(
        $sans-serif-font,
        1rem,
        $black,
        $sans-serif-regular,
        1.5rem
      );
      position: relative;

      &:before {
        font-size: 1rem;
        left: 0;
        position: absolute;
      }

      ul {
        margin: $baseline/2 0;
        padding: 0;

        li:before {
          @include iconfont($black, "\66");
        }
      }
    }
  }

  ul li {
    margin: 0 0 $baseline/2;

    &:before {
      @include iconfont($maroon, "\2022");
      top: 3px;
    }
  }

  ol {
    counter-reset: ucpe_counter;
    li {
      counter-increment: ucpe_counter;

      &:before {
        content: counter(ucpe_counter) ".";
        color: $maroon;
        font-weight: $sans-serif-semibold;
      }
    }
  }

  blockquote {
    border-left: 0;
    margin: $baseline * 3 0;
    padding: 0;

    .q {
      border-left: 4px $salmon solid;
      padding-left: $baseline * 3.5;
      font-style: $italic;

      p {
        @include font(
          $serif-font,
          $baseline * 1.625,
          $black,
          $serif-regular,
          $baseline * 2.5
        );
      }

      footer {
        @include bodycopy_M($black, $bold: false);
        font-style: normal;
        margin-top: $baseline;
      }
    }

    //with headshot
    &.w_hs {
      figure {
        margin-left: auto;
        margin-right: auto;

        img {
          margin: 0 auto;
        }
        figcaption {
          @include bodycopy_S($black, $bold: false);
          margin-top: $baseline;
          text-align: center;
          p {
            text-align: center;
          }
        }
      }

      @include screen("phablet") {
        display: flex;
        figure {
          flex: 0 0 $baseline * 10;
        }
      }

      .q {
        border-left: 0;
        padding-left: 0;
        @include screen("phablet") {
          padding-left: $baseline * 3.5;
        }
      }
    }

    &.link {
      a {
        font-style: normal;
        display: block;
        margin-top: $baseline;
      }
    }
  }

  dt,
  dd {
  }

  dt {
  }

  dd {
  }

  strong,
  thead,
  dt {
  }

  // HR

  hr {
    border-width: 0 !important;
    height: 2px;
    margin: $baseline * 3 0;

    &:before {
      border-top: solid 3px $salmon;
      content: "";
      display: block;
      height: 2px;
      width: 25%;
    }
  }

  figure {
    figcaption {
      text-align: left;
      @include bodycopy_XS($black_03);
      p {
        font-family: $sans-serif-font !important;
        font-weight: $sans-serif-regular !important;
        font-size: 0.75rem !important;
        color: $black_03 !important;
        line-height: 1.5rem !important;
      }

      span.attribute {
        font-family: $sans-serif-font !important;
        font-weight: $sans-serif-regular !important;
        font-size: 0.75rem !important;
        color: $black_03 !important;
        line-height: 1.5rem !important;

        &:before {
          @include iconfont($black_03, "\63");
          font-size: $baseline * 1.5;
          margin-right: $baseline * 0.25;
          text-decoration: none;
          vertical-align: text-bottom;
        }
      }
    }
  }
} //ALL WITHIN THE .CONTENT DIV

// META Content-Type

.divider {
  color: $divider-gray;
  margin: 0 $baseline/2;
  vertical-align: bottom;
  font-size: $baseline * 1.2;
}

.meta {
  .type {
    @include utility_M($maroon);
    letter-spacing: 1px;
  }
  .divider {
    color: $divider-gray;
    margin: 0 $baseline/2;
    vertical-align: middle;
    font-size: $baseline * 1.2;
  }
  .date {
    @include bodycopy_S($plum);
  }
  .cs_title {
    @include utility_S($plum);
  }
}

// Share
.share {
  .addtoany_list {
    .share_title {
      margin-right: $baseline;
      @include utility_M($black_03);
    }
  }
}

// OFFSET ANY STYLES THAT AFFECT THE MENU background
#toolbar-administration {
  font-size: 12px !important;
}
ul.toolbar-menu,
nav.tabs ul.nav-tabs {
  li {
    margin: 0;
    padding-left: inherit;
    &:before {
      display: none;
    }
    ul li:before {
      display: none;
    }
    a {
      font-size: 14px !important;
    }
  }
}
